.form{
    background-color: #fff;
    padding: 2rem 1.5rem;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.form label{
    margin-bottom: 5px;
    font-family: 'Montserrat',sans-serif;
}

.inputField{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #A7A29E;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 20px;
}

.form #editor .tox-tinymce{
    border-radius: 5px!important;
    margin-bottom: 20px!important;
}

.inputField::-webkit-input-placeholder { 
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    opacity: .7;
  }

.inputField:hover{
    border-color: #00BFB4;
    box-shadow: #00BFB4 0px 1px 2px 0px;
}


input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: #00BFB4;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.form-control-file,.m20{
    margin-bottom: 20px;
}

.formButton{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    transition: all .4s ease-in-out;
    color: #fff;
    border-radius: 5px;
    font-family: 'Montserrat',sans-serif;
}

.formButton:hover{
    border-radius: 40px;
}

.formButton.submit{
    border: 1px solid #00BFB4;
    background-color: #00BFB4;
}

.formButton.add{
    background-color: green;
}

.formButton.delete{
    background-color: red;
}

.form-control-file{ 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.75rem; 
    border-radius: 0.375rem; 
    border-width: 1px; 
    width: 100%; 
    height: 2.5rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #9CA3AF;
    transition: all .4s ease-in-out;
}