@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

.form{
    background-color: #fff;
    padding: 2rem 1.5rem;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
    margin-bottom: 10px;
}

.form label{
    margin-bottom: 0;
}

.inputField{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 20px;
}

.inputField:hover{
    border-color: #03a9f3;
    box-shadow: #03a9f3 0px 1px 2px 0px;
}

.form-control-file,.m20{
    margin-bottom: 20px;
}

.formButton{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    transition: all .4s ease-in-out;
    color: #fff;
    border-radius: 5px;
}

.formButton:hover{
    border-radius: 40px;
}

.formButton.submit{
    background-color: cornflowerblue;
}

.formButton.add{
    background-color: green;
}

.formButton.delete{
    background-color: red;
}