/* Googel Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
/* Googel Fonts End */

.navbar #navbarSupportedContent .navbar-nav .nav-item .nav-link{
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbar #navbarSupportedContent .navbar-nav .nav-item .nav-link:hover{
    color: #00BFB4;
}

.loginSection {
    justify-content: center;
    align-items: center;
    display: flex;
}

.forms {
    width: 500px;
    padding: 50px;
    background: linear-gradient(rgb(220, 249, 224) 0%, rgb(255, 255, 255) 30.21%);
    box-shadow: rgba(0, 0, 0, 0.01) 0px 187px 75px, rgba(0, 0, 0, 0.05) 0px 105px 63px, rgba(0, 0, 0, 0.09) 0px 47px 47px, rgba(0, 0, 0, 0.1) 0px 12px 26px, rgba(0, 0, 0, 0.1) 0px 0px 0px;
    border-radius: 16px;
    border: none;
}

.loginSection .forms .loginHeading {
    text-align: center;
    margin-bottom: 20px;
}

.loginSection .forms .loginHeading h2 {
    margin-bottom: 0;
}

.inputField {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #A7A29E;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 20px;
}

.inputField:hover,.loginButton:hover{
    border-color: #00BFB4;
    box-shadow: #00BFB4 0px 1px 2px 0px;
}

.inputField::-webkit-input-placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    opacity: .7;
}

input:focus-visible {
    outline: none;
}

.loginButton{
    border-radius: 5px;
    border: 1px solid #00BFB4;
    background: #00BFB4;
    display: flex;
    height: 40px;
    padding: 18px 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.loginButton:hover{
    box-shadow: #cccccc 0px 1px 2px 0px;
}
.btn-link{
    text-align: center;
    text-decoration: none;
    width: 100%;
}